<div class="title">
    <h1 class="title">Libreria Arena</h1>
</div>
<div class="about">
    <p>
        Libros de la Arena es una empresa familiar con una larga trayectoria en el mundo editorial, que desde el año 2000 apuesta al crecimiento y desarrollo cultural de Mar del Plata, con sus librerías ubicadas en los centros comerciales más importantes de la ciudad; que ya son un clásico de consulta permanente de marplatenses y turistas.
    </p>
    <p>
        Libros de la Arena también está presente en los eventos culturales más importantes de Mar del Plata (Ferias del Libro, Concursos Literarios, Presentaciones editoriales, etc.), y apoya con la venta de sus libros, a autores locales. También cuenta con un sector de venta mayorista donde se atiende a Bibliotecas, Colegios e Instituciones.
    </p>
</div>